.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background-color: var(--primery-color-blue);
}

.button svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: var(--primery-color-white);
}
.button:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}
.button:active {
  box-shadow: none;
}
