.calendar {
  display: flex;
  flex-direction: column;
  height: 506px;
}
.navigation {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #2f2f2f;
  font-size: 24px;
  font-weight: 500;
  line-height: calc(30 / 24);
}
.arrowBtn {
  margin: 0 10px;
  background-color: rgba(0, 0, 255, 0);
  border: none;
}
.arrowSvg {
  width: 6px;
  height: 10px;
}
.control {
  color: #407bff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.month {
  font-size: 16px;
  line-height: 20px;
}
.daysContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  column-gap: 26px;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .calendar {
    height: 340px;
  }
  .title {
    font-size: 26px;
    line-height: calc(32 / 26);
  }
  .daysContainer {
    column-gap: 34px;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .calendar {
    height: 284px;
  }
  .daysContainer {
    column-gap: 22px;
  }
}
