.day {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}
.outlineVisible {
  outline: 1px solid #ff9d43;
}
.dayCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.dayPercent {
  color: #9ebbff;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
  margin-top: 4px;
  line-height: calc(16 / 10);
}
@media screen and (min-width: 768px) {
  .day {
    gap: 34px;
    row-gap: 20px;
    width: 34px;
    height: 34px;
  }
  .dayPercent {
    font-size: 13px;
    line-height: calc(20 / 13);
  }
}
@media screen and (min-width: 1440px) {
  .dayPercent {
    font-size: 12px;
    line-height: calc(18 / 12);
  }
}
