.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background-color: var(--primery-color-blue);
}
.link:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}
.link:active {
  box-shadow: none;
}
