.userAuthContainer {
  display: flex;
}
.signinButton {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 8px;
  color: var(--primery-color-black);
}

.userLogo {
  border-radius: 50%;
  margin: 0 0 0 8px;
  width: 28px;
  height: 28px;
}
.arrowSvg {
  fill: var(--primery-color-blue);
  width: 16px;
  height: 16px;
}
