.bottlePicture {
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .bottlePicture {
    margin-bottom: 24px;
    height: 548px;
    /* object-fit: cover; */
  }
}
