.form {
  display: flex;
  flex-direction: column;
  width: 256px;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  margin-bottom: 24px;
}

.inputContainer {
  position: relative;
}

.eyeSlash {
  position: absolute;
  right: 10px; /* Наприклад, 10px від правого краю */
  top: 50%;
  transform: translateY(-50%);
}

.subtitle_photo {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 8px;
}

.avatar_conteiner {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
}

.avatar {
  border-radius: 50%;
}

.input_avatar {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.photo_lable {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--primery-color-blue);
}

.subtitle_gender {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 12px;
}

.gender_conteiner {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.gender_wraper {
  display: flex;
  gap: 8px;
}
.genderRadio {
  border: var(--primery-color-blue);
}
.name_lable {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 8px;
}

.input_field {
  border: 1px solid var(--secondary-color---5);
  border-radius: 6px;
  padding: 12px 10px;
  height: 44px;
  color: var(--primery-color-blue);
  outline: transparent;
}

.input_field:focus {
  border: 1px solid var(--secondary-color---5);
}
.input_field:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}
.input_field::placeholder {
  color: #9ebbff;
}

.email_lable {
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 8px;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
}

.userContainer {
  display: flex;
  flex-direction: column;
}

.subtitle_password {
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.uploadPhotoSvg {
  display: inline;
  margin-right: 8px;
  fill: var(--primery-color-blue);
  stroke: var(--primery-color-blue);
}

.lable_password {
  margin-top: 12px;
  margin-bottom: 8px;
}

.save_btn {
  border-radius: 10px;
  height: 36px;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background-color: var(--primery-color-blue);

  font-weight: 500;
  color: var(--primery-color-white);
  margin-top: 24px;
}

.error {
  color: red;
}
@media screen and (min-width: 768px) {
  .form {
    width: 656px;
  }

  .save_btn {
    width: 160px;
    margin-left: auto;
  }
  .input_field {
    width: 392px;
  }
  .email_lable {
    margin-top: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .form {
    width: 960px;
  }
  .save_btn {
    width: 160px;
    margin-left: auto;
    margin-top: 24px;
  }
  .passwordContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 24px;
  }
  .userContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .settingContainer {
    display: flex;
  }
  .input_field {
    margin: 0;
  }
  .gender_conteiner {
    margin-bottom: 52px;
  }
}
