.container {
  width: fit-content;
  /* h2 {
    color: #2f2f2f;
    font-size: 24px;
    font-weight: 500;
    line-height: calc(30 / 24);

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: calc(32 / 26);
    }

    @media screen and (min-width: 1440px) {
    }
  } */
}
