.container {
  width: fit-content;
  height: 258px;
}
.title {
  font-size: 24px;
  font-weight: 500;
}
.todayBox {
  height: 220px;
  overflow-y: auto;
  margin-top: 16px;
}
.todayBox::-webkit-scrollbar {
  width: 4px;
}

.todayBox::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color-lightblue);
  border-radius: 2px;
}

.todayBox::-webkit-scrollbar-track {
  background-color: var(--secondary-color---5);
  width: 1px;
}
.waterTable {
  border-collapse: collapse;
}
.tRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color---5);
  width: 254px;
  height: 50px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.glassSvg {
  width: 17px;
  height: 22px;
}
.doseVolume {
  padding: 12px;
  text-align: left;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primery-color-blue);
}
.doseTime {
  padding-right: 35px;
  text-align: left;
  font-size: 12px;
  line-height: 2;
  color: var(--primery-color-black);
}
.editBtn {
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  width: 16px;
}
.editBtn:hover {
  border-bottom: 1px solid var(--secondary-color-lightblue);
}
.editSvg {
  width: 14px;
  height: 14px;
}
.deleteBtn {
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  width: 16px;
}
.deleteBtn:hover {
  border-bottom: 1px solid var(--secondary-color-red);
}
.deleteSvg {
  width: 12px;
  height: 14px;
}
.noNotesRow {
  width: 100%;
}
.noNotes {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 10px;
}
.addBtn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px;
  color: #407bff;
  background-color: transparent;
  text-align: left;
}
.plusSvg {
  stroke-width: 1px;
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 1.23;
  }
  .todayBox {
    height: 228px;
  }
  .waterTable {
    width: 656px;
  }
  .tRow {
    width: 646px;
    height: 60px;
  }
  .glassSvg {
    width: 23px;
    height: 30px;
  }
  .doseTime {
    padding-right: 390px;
  }
}
@media screen and (min-width: 1440px) {
  .waterTable {
    width: 534px;
  }
  .todayBox {
    height: 212px;
  }
  .tRow {
    width: 534px;
    height: 60px;
  }
  .doseTime {
    padding-right: 278px;
  }
}
