.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 999;
}

.modal_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.modal_content {
  position: relative;
  margin: 20px;
  min-width: 280px;
  max-width: 1000px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 34px 24px;
  transform: translateY(-50px);
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.close_btn {
  position: absolute;
  top: 34px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.close_icon {
  width: 24px;
  height: 24px;
}

.modal--entering,
.modal--entered {
  opacity: 1;
}

.modal--entering .modal_content,
.modal--entered .modal_content {
  transform: translateY(0);
}

.modal--exiting,
.modal--exited {
  opacity: 0;
}

.modal--exiting .modal_content,
.modal--exited .modal_content {
  transform: translateY(50px);
}
