/* .edit_water_modal {
  width: 284px;
} */

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  margin-bottom: 25px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 20px;
  padding: 8px 24px;
  height: 52px;
  border-radius: 10px;
  background: var(--secondary-color-2);
}

.glass_icon {
  width: 23px;
  height: 30px;
}

.water_info {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--primery-color-blue);
}

.water_info_time {
  font-weight: 400;
  font-size: 12px;
}

.correct_title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.correct_subtitle {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

.count_water {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 25px;
}

.amount_water {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 6px 10px;
  width: 92px;
  height: 36px;
  color: var(--primery-color-blue);
  font-weight: 700;
  font-size: 18px;
  background: var(--secondary-color---5);
}

.count_icon {
  width: 24px;
  height: 24px;
  fill: var(--primery-color-blue);
}

.count_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9ebbff;
  border-radius: 30px;
  padding: 10px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(64, 123, 255, 0.2);
  background: var(--primery-color-white);
}

.recording_time {
  margin-bottom: 10px;
}

.custom_select {
  appearance: none;
  cursor: pointer;
  border: 1px solid var(--secondary-color---5);
  border-radius: 6px;
  padding: 12px 10px;
  height: 44px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: var(--primery-color-blue);
  margin-bottom: 25px;
}

.water_value_title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.water_value {
  border: 1px solid var(--secondary-color---5);
  border-radius: 6px;
  padding: 12px 10px;
  width: 100%;
  height: 44px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  color: var(--primery-color-blue);
}

.water {
  font-weight: 700;
  font-size: 18px;
  color: var(--primery-color-blue);
  text-align: center;
  margin-bottom: 15px;
}

.button_save {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 36px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--primery-color-blue);
}
