.mainontainer {
  width: 100%;
  background-image: url('../../images/main/BackMainMobile.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 24px 20px 40px 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mainContainer {
    background-image: url('../../images/main/BackMainMobile2x.png');
  }
}

/* .titleContainer {
  width: 280px;
} */

.titleConsumption {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0;
  width: 280px;
}

.titleRecord {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0;
  margin-bottom: 24px;
  margin-top: 16px;
  width: 197px;
}

.blocksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .mainContainer {
    background-image: url('../../images/main/BackMainTablet.png');
    /* width: 768; */
    padding: 0px 32px 50px 32px;
    margin-top: 40px;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mainContainer {
      background-image: url('../../images/main/BackMainTablet2x.png');
    }
  }

  .titleRecord {
    font-size: 26px;
    width: auto;
  }

  .titleConsumption {
    width: auto;
    font-size: 36px;
  }

  .titleContainer {
    width: auto;
  }

  .blocksContainer {
    width: auto;

    margin-top: 0;
    padding-left: 0;
  }

  .blocksContainer {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .mainContainer {
    background-image: url('../../images/main/BackMainDesk.png');
    margin: 49px 18px 109px 18px;
    padding: 31px 192px 185px 198px;
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-size: cover;
    background-position: centr;
    background-repeat: no-repeat;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mainContainer {
      background-image: url('../../images/main/BackMainDesk2x.png');
    }
  }

  .titleConsumption {
    font-size: 36px;
  }

  .blocksContainer {
    padding-left: 0;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    width: auto;
    flex-direction: row;
    align-items: flex-end;
  }

  .blocksContainer > * {
    margin-right: 0;
  }
}
