.mainContainer {
  background-image: url('../../images/main/BackMainMobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px 20px 40px 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mainContainer {
    background-image: url('../../images/main/BackMainMobile2x.png');
  }
}

.titleContainer {
  width: 280px;
}

.titleConsumption {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0;
}

.titleRecord {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0;
  margin-bottom: 24px;
  margin-top: 16px;
  width: 197px;
}

.blocksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .mainContainer {
    background-image: url('../../images/main/BackMainTablet.png');
    width: 768px;
    padding: 0px 32px 50px 32px;
    margin-top: 40px;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mainContainer {
      background-image: url('../../images/main/BackMainTablet2x.png');
    }
  }
  
.titleRecord {
  font-size: 26px;
  width: auto;

}

  .titleConsumption {
    
    font-size: 36px;
  }

  .titleContainer {
    width: auto;
  }

  .blocksContainer {
    width: auto;
    
  
  
    margin-top: 0;
    padding-left: 0;
  }

  .blocksContainer  {
    align-items:flex-start;
}
  



@media screen and (min-width: 1440px) {
  .mainContainer {
    background-image: url('../../images/main/BackMainDesk.png');
    padding: 49px 18px 109px 18px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mainContainer {
      background-image: url('../../images/main/BackMainDesk2x.png');
    }
  }

  .titleConsumption {
    font-size: 36px;
  }

  .blocksContainer {
    max-width: 50%;
    padding-left: 0;
    margin-top: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: auto;
  }

  .blocksContainer > * {
    margin-right: 0;
  }
}
}