

.trackerContainer {
  font-family: 'Roboto', sans-serif;
  background: transparent;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trackerContainerH3 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight:500;
  line-height: 1.11;
}

.trackerContainerUl {
  list-style-type: none;
  width: 260px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trackerContainerLi {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  gap: 8px;
}

.svgIcon {
  width: 32px;
  height: 32px;
}

.trackerBtn {
  height: 36px;
  min-width: 280px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.trackerBtn:hover,
.trackerBtn:active {
  cursor: url('../../images/main//mdi_cursor-pointer.png'), pointer;
}

@media screen and (min-width: 768px) {
  .trackerContainer {
    width: 100%;
    max-width: 494px;
    position: static;
margin-bottom: 60px;
  }

  .trackerContainerUl {
    display: flex;
    flex-direction: row;
    width: 704px;
    gap: 16px;
    flex-grow: 1;
  }

  .trackerContainerLi {
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 8px;
    line-height: 1.25;
    white-space: nowrap;
    min-width: 224px;
  }
  .svgIcon {
    width: 40px;
    height: 40px;
  }

  .trackerBtn {
    height: 44px;
    width: 336px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .trackerContainer {
    margin: 0;
  }

  .trackerContainerUl {
    flex-direction: column;
  }

  

  .trackerContainerH3 {
    font-size: 16px;
  }

  .trackerContainerLi {
    font-size: 12px;
  }

  .trackerBtn {
    padding: 10px 30px;
    min-width: 384px;
    
  }
}
