/* .trackerContainer {
  font-family: 'Roboto', sans-serif;
  background: transparent;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trackerContainerH3 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 1.11;
}

.trackerContainerUl {
  list-style-type: none;
  width: 280px;

  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trackerContainerLi {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  gap: 8px;

  width: 216px;
  height: 32px;
}

.svgIcon {
  width: 26px;
  height: 26px;
}

.trackerBtn {
  height: 36px;
  min-width: 280px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trackerBtn:hover,
.trackerBtn:active {
  cursor: url('../../images/main//mdi_cursor-pointer.png'), pointer;
}

@media screen and (min-width: 768px) {
  .trackerContainer {
    width: 100%;
    max-width: 494px;
    position: static;
    margin-bottom: 60px;
  }

  .trackerContainerUl {
    display: flex;
    flex-direction: row;
    width: 704px;
    gap: 16px;
    flex-grow: 1;
  }

  .trackerContainerLi {
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 8px;
    line-height: 1.25;
    white-space: nowrap;
    min-width: 224px;
  }
  .svgIcon {
    width: 40px;
    height: 40px;
  }

  .trackerBtn {
    height: 44px;
    width: 336px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .trackerContainer {
    margin: 0;
  }

  .trackerContainerUl {
    flex-direction: column;
  }

  .trackerContainerH3 {
    font-size: 16px;
  }

  .trackerContainerLi {
    font-size: 12px;
  }

  .trackerBtn {
    padding: 10px 30px;
    min-width: 384px;
  }
} */
/* .trackerContainer {
  margin-bottom: 40px;
} */

.trackerContainerH3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: var(--primery-color-black);
  margin-bottom: 12px;
}

.trackerContainerUl {
  list-style-type: none;
  width: 280px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.trackerContainerLi {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--primery-color-black);
  display: flex;
  align-items: center;
  gap: 8px;
  width: 216px;
  height: 32px;
}

.svgIcon {
  width: 32px;
  height: 32px;
}

.trackerBtn {
  height: 36px;
  min-width: 280px;
  padding: 8px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--primery-color-blue);
  color: var(--primery-color-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trackerBtn:hover,
.trackerBtn:active {
  cursor: url('../../images/main//mdi_cursor-pointer.png'), pointer;
}

@media screen and (min-width: 768px) {
  .trackerContainerUl {
    flex-direction: row;
    width: 704px;
    flex-grow: 1;
  }

  .trackerContainerLi {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--primery-color-black);
    display: flex;
    align-items: center;
    gap: 8px;
    width: 224px;
    height: 40px;
  }

  .svgIcon {
    width: 40px;
    height: 40px;
  }

  .trackerBtn {
    height: 44px;
    width: 336px;
    padding: 10px 30px;
    font-size: 18px;
    line-height: 133%;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background: var(--primery-color-blue);
    color: var(--primery-color-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .trackerContainerUl {
    width: 439px;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .trackerContainerLi {
    width: 248px;
    height: 40px;
  }

  .svgIcon {
    width: 30px;
    height: 30px;
  }

  .trackerBtn {
    width: 384px;
  }
}
