.whyWaterContainer {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf2ff;
  border-radius: 10px;
  padding: 24px 16px 24px 16px;
}

.whyWaterContainerH3 {
  font-size: 18px;
  padding-bottom: 12px;
  line-height: 1.11;
}

.whyWaterContainerUl {
  list-style-type: none;
}

.whyWaterContainerUl li {
  font-size: 16px;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  align-items: center;
}

.whyWaterContainerSvg {
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .whyWaterContainer {
    width: 100%;
    width: 494px;
    position: static;
    padding: 32px 24px 32px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .whyWaterContainerUl li {
    margin: 0;
  }

  .whyWaterContainerUl {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
