.container {
  width: 100%;
  background-image: url('../../images/home/BackHomeMobile.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
.dailyNormaWrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.todayMonthWrapper {
  border-radius: 10px;
  background-color: #ecf2ff;
  box-shadow: 0px 4px 14px rgba(64, 123, 255, 0.3);
  display: flex;
  padding: 24px 8px;
  flex-direction: column;
  gap: 24px;
  width: 280px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    background-image: url('../../images/home/BackHomeTablet.png');
  }
  .wrapper {
    gap: 40px;
    width: 768px;
    padding: 0 32px;
  }
  /* .dailyNormaWrapper {
  } */
  .todayMonthWrapper {
    width: 704px;
    padding: 32px 24px;
  }
}
@media only screen and (max-width: 1439px) {
  .wrapper {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    background-image: url('../../images/home/BackHomeDesk.png');
  }
  .wrapper {
    flex-direction: row;
    gap: 32px;
    width: 1440px;
    padding: 0 112px;
  }
  .dailyNormaWrapper {
    width: 50%;
  }
  .todayMonthWrapper {
    width: 50%;
    padding: 32px 24px;
  }
}
