.div {
   display: flex;
   align-items: start;
   padding-top: 16px;
   flex-wrap: wrap;
   list-style: none;
   gap: 26px;
}
  
  

   .p {
     color: #9ebbff;
     font-family: Roboto;
     font-size: 10px;
     font-weight: 400;
     line-height: 1.6;
  }

   .li {
     text-align: center;
     height: 52px;
     width: 32px;
    list-style-type: none;
   }

   @media screen and (min-width: 320px) and (max-width: 767px) {
     
    li {
      width: 32px;
    }
  }

   @media screen and (min-width: 768px) and (max-width: 1439px) {
    .div {
      width: 646px;
        gap: 20px 34px;
    }
     

    .p {
      font-size: 13px;
      line-height: 1.53;
    }
   }

   @media screen and (min-width: 768px) {
     .li {
           width: 34px;
           height: 58px;
     }

    @media screen and (min-width: 1440px) {
        .div{
             gap: 20px 22px;
            width: 538px;
        }
                .li {
                 
                  height: 56px;
                }
                                                .p {
                                                  font-size: 12px;
                                                  line-height: 1.53;
                                                }
   }
  }
 ;
